header {
    border-radius: 20px;
    padding: 200px;
    background-image: url("img/matrix-style-binary-code-digital-falling-numbers-blue-background_1017-37387.avif") ;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    display: flex;
    font-size: 25px;
    color: rgb(83 216 230) ;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5%;
    background-color: black;
    color: rgb(83 216 230);
}


.painel {
    padding-left: 20%;
    padding-top: 56px;
}

#inicio {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 20px;
}

#contato {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
    font-size: 20px;
}

fieldset {
    border-color: rgb(83 216 230);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: groove;
    border-color: rgb(83 216 230);
    padding-right: 10px;
}

a:visited {
    color: rgb(15, 15, 228);
}

a:link {
    color: rgb(83 216 230);
}

a:hover {
    color: rgb(105, 170, 255);
}